@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "pretendard", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    outline: none;
  }

  p {
    @apply font-serif box-border m-0 p-0;
  }

  div {
    @apply box-border m-0 p-0;
  }
}

@layer components {
  .card {
    @apply w-[450px] h-[580px] bg-[#f9f7f7] border border-black shadow-md;
  }
  .modal {
    /* modal 스타일 정의 */
  }
  .button {
    @apply h-[11px] p-2 bg-mainColor-color_Green border border-black flex items-center text-center cursor-pointer;
  }
  .input{
    @apply w-[100%] h-[40px] p-1 mb-2 bg-mainColor-color_Ivory border border-mainColor-color_Black outline-none; 
  }
  .textff{
    @apply font-semibold;
  }
  .deleteButton { 
    @apply w-[80px] mr-1 border border-black flex items-center justify-center p-1 whitespace-nowrap overflow-hidden ;
  }
  .photoCard {
    @apply w-[210px] h-[150px] border border-black 
  }
  .photoCard-Title{
    @apply h-[15%] flex items-center p-1 text-mainColor-color_Gray
  }
  .photoCard-Img{
    @apply w-[100%] h-[85%] 
  }
  .photoCard-button{
    @apply button rounded-full absolute top-[50%] w-[30px] h-[30px] flex justify-center bg-mainColor-color_Ivory
  }
}

 
@font-face {
  font-family: "pretendard";
  src: url("../src/font/woff/Pretendard-ExtraLight.woff") format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "pretendard";
  src: url("../src/font/woff/Pretendard-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}
/* 
@font-face {
  font-family: "pretendard";
  src: url("../src/font/woff/Pretendard-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
} */